<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./includes/head.ejs') %>

</head>
<body>
    <%- include('./includes/nav.ejs') %>

    <h1>About us</h1>
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate odio labore distinctio cum delectus consequatur dolores quibusdam iure amet inventore quod dicta blanditiis dolor error hic, repudiandae saepe doloremque placeat! Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita, quasi! Eum laudantium quae aut, quas sit ducimus tenetur optio voluptatibus voluptate. Necessitatibus facere nostrum, voluptate possimus eaque corporis facilis maiores? voluptatelo Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum perferendis laborum libero numquam cum inventore dicta nam ut, eum sint aliquam? Earum autem laudantium omnis asperiores atque cumque a delectus.
    </p>
</body>
</html>