<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./includes/head.ejs') %>
</head>
<body>
   <%- include('./includes/nav.ejs') %>

    <div class="container">
        <div class="row">   
             <h1>Welcome to home page </h1>

  <p class="paragraph">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quam fugit vitae mollitia neque error qui, nisi commodi quo sit consequuntur consequatur voluptates quisquam optio, explicabo voluptate placeat? Officiis, nulla cupiditate. Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus blanditiis temporibus consequuntur ex. Facere, eveniet? Tempora iusto ex deleniti. Tempora in illum voluptatum ipsum architecto dolore natus cumque magnam enim! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nam officia facere culpa non, praesentium neque molestiae fugit maxime quod, dolor harum autem omnis reprehenderit eum cumque, tempore molestias dolorum dolore.
    </p>
        </div>
       
    </div>
   
</body>
</html>